-optimizationpasses 5
-ignorewarnings
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-dontwarn org.apache.commons.logging.**
-dontwarn org.apache.commons.codec.**
#-dontwarn android.support.v4.**
-dontwarn eclipse.local.sdk.**
-dontwarn com.tencent.**


-dontwarn com.cmn.**
-dontwarn com.baidu.** 
#-dontwarn com.google.gson.**


-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-keep class com.tencent.mm.sdk.modelmsg.WXMediaMessage {*;}
-keep class com.tencent.mm.sdk.modelmsg.** implements com.tencent.mm.sdk.modelmsg.WXMediaMessage$IMediaObject {*;}
-keep class com.tencent.mm.sdk.openapi.** { *; }
-keep class com.sina.** { *; }
-keepattributes *Annotation*
-keepattributes Signature


-dontwarn **CompatHoneycomb
#-keep class android.support.v4.** { *; }





#gson
#-keep class com.google.gson.** { *; }

-keep class **.R$* { *; }






-keep class com.yujunkang.fangxinbao.model.** { *; }

-keep class com.yujunkang.fangxinbao.activity.** { *; }

-keep class com.yujunkang.fangxinbao.control.** { *; }

-keep class com.yujunkang.fangxinbao.app.** { *; }

-keep class com.yujunkang.fangxinbao.receiver.** { *; }

-keep class com.yujunkang.fangxinbao.utility.** { *; }

-keep class com.yujunkang.fangxinbao.wxapi.** { *; }


-keep class com.umeng.analytics.** { *; }


-keep class u.upd.** { *; }
-keep class u.aly.** { *; }
-keep class com.umeng.** { *; }


#-keep class com.xiaomi.** { *; }

#-libraryjars libs/baidumapapi_v2_3_5.jar
-keep class com.baidu.** { *; }


-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-keepclassmembers class * extends android.app.TabActivity {
  public static <fields>;
}

